<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 class="text-center">Log in</h1>
            <hr>

            {{#if errorMessage}}
            <div class="d-flex justify-content-center" id="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            {{/if}}

            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="mb-3">
                    <label for="userPwd" class="form-label">Password</label>
                    <input type="password" class="form-control" id="userPwd" name="userPwd">
                </div>

                <div class="d-grid mb-3 gap-2">
                    <button type="submit" class="btn btn-outline-secondary px-5 mt-2">Send</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container d-flex justify-content-center mt-4">
        <a href="/" class="btn btn-secondary btn-lg">Home</a>
    </div>

</div>