<section class=" d-flex align-items-center justify-content-center signup-container">

    <div class="container mt-4 mb-5">

        <div class="row justify-content-center">

            <div class="col-10 col-md-8 col-lg-6">

                <h1 class="text-center">Sign Up</h1>

                <form action="/signup" method="POST" enctype="multipart/form-data">

                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName">
                            <div class="form-text">Required</div>
                        </div>

                        <div class="col-lg-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                            <div class="form-text">Required</div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                        <div class="form-text">Required</div>
                    </div>

                    <div class="mt-3">
                        <label for="userPwd" class="form-label">Password</label>
                        <input type="password" class="form-control" id="userPwd" name="userPwd">
                        <div class="form-text">Required</div>
                    </div>

                    <div class="mt-3">
                        <label for="avatar" class="form-label">Avatar image</label>
                        <input type="file" class="form-control" id="avatar" name="avatar">
                        <div class="form-text">Enter the URL of your desired profile picture (not required)</div>
                    </div>


                    <div class="row mt-4 d-flex justify-content-center">
                        <div class="d-grid gap-2 w-100 d-flex justify-content-center">
                            <button type="submit" class="btn green-btn w-100">Send</button>
                        </div>
                    </div>


            </div>
        </div>
    </div>


    </div>
</section>