<section class=" d-flex align-items-center justify-content-center aboutus-container">

    <div class="container mt-4 mb-5">

        <div class="row justify-content-center">

            <div class="col-6">
                <h1 class="text-center">About us</h1>
                <hr>

                <div class="text-center">

                    <h5 class="mt-4">Esto es una preciosa página creada por:</h5>

                    <h3 class="mt-4">Cristina Gutiérrez García Moreno</h3>
                    <h4 class="mt-3">🦆</h4>
                    <h3 class="mt-3">Juan Gregorio Rodríguez Eizaguirre</h3>

                    <br>
                    <h5 class="mt-4">Con la colaboración de nuestros profes</h5>
                    <h5 class="mt-2">y el apoyo de nuestros compis</h5>

                </div>
            </div>
        </div>



    </div>
</section>