<div class="container mt-4 mb-5">

    <div class="row justify-content-center">

        <div class="col-6">
            <h2>Contact</h2>
            <hr>


            <form action="/contact" method="post">
                <label for="">Email</label>
                <input type="email" name="email" id="">
                <label for="">Subject</label>
                <input type="text" name="subject" id="">
                <label for="">Message</label>

                <textarea class="form-control" style="height: 100px" type="text" name="message" id=""
                    placeholder="My message..."></textarea>

                <div class="d-grid d-flex justify-content-end">
                    <input type="submit" class="btn btn-outline-secondary px-5 mt-2" value="Send">
                </div>
            </form>


        </div>

    </div>


</div>