<section class=" d-flex align-items-center justify-content-center login-container error-page">

    <div class="container mt-4 mb-5">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="text-center">Please, check the console!</h1>

                <div class="d-flex justify-content-center error-img">
                    <img src="/images/error.gif" alt="error">
                </div>

            </div>
        </div>

        <div class="container d-flex justify-content-center mt-4">
            <a href="/" class="btn btn-secondary btn-lg">Better go home</a>
        </div>
    </div>

</section>