<div class="index-hero">
    <video autoplay muted loop>
        <source src="/videos/index-hero.mp4" type="video/mp4">
    </video>
    <div class="container d-flex justify-content-center align-items-center index-title">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aspernatur debitis sequi, possimus
            sed laudantium culpa deleniti. </h1>
    </div>
</div>