body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#map {
    height: 400px;
}

.index-hero {
    position: relative;
    height: calc(100vh - 56px);
}

.index-hero video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    filter: grayscale(60%);
}

.index-title {
    z-index: 2;
    width: 100%;
    height: 100%;
}

.index-title h1 {
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(46, 46, 46, 0.8);
    color: white;
}

.comment-info img {
    width: 40px;
}

.comment-details p {
    word-break: break-all;
}

.comment-edit img {
    width: 80px;
}