body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#map {
    height: 400px;
}

img {
    width: 100%;
}

.navbar-color {
    padding: 20px 40px;
    background-color: rgba(108, 88, 76, 0.8)
}

.logo {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
}

.logo a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFFF;
}

.navbar-color-text li a {
    color: #FFFF !important;
    font-size: 1.2rem;
    font-weight: 500;
}

.users-list img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.comment-info img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.comment-details p {
    word-break: break-all;
}


.error-img img {
    width: 600px;
}

/* Footer */

footer {
    border-top: solid 1px #e2e2e2;
}

footer section {
    padding: 0 8% 40px;
}

.footer-bottom {
    padding: 40px 0;
    background-color: #6C584C;
}

.our-links ul {
    list-style: none;
    padding: 0;
}

.our-links ul li {
    margin-top: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
}

.footer-copyright {
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    margin: 0
}

.footer-top {
    background-color: rgba(164, 126, 97, 0.593);
    padding: 40px 0;
}


/* Search Page*/

.search-container {
    min-height: 700px;
    height: calc(100vh - 66px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/search-bg.jpg');
}

.search-title h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    background-color: rgba(173, 193, 120, 0.8);
}

.search-input {
    width: 300px;
    height: 50px;
}

.search-input:focus {
    border: none;
    box-shadow: none;
    transform: none;
}

.green-btn {
    background-color: #ADC178;
    height: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;

}

.green-btn:hover {
    background-color: #ADC178;
    color: #fff;
}

.comment-edit img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* about us page */

.aboutus-container {
    min-height: 700px;
    height: calc(100vh - 66px);
}

/* Contact page */

.contact-container {
    min-height: 700px;
    height: calc(100vh - 66px);
}

/* User details page */

.user-details-container {
    min-height: 700px;
    height: calc(100vh - 66px);
}

/* Comment edit page */

.comment-edit-container {
    min-height: 700px;
    height: calc(100vh - 66px);
}

/* error message */

#errorMessage p {
    background-color: rgba(240, 112, 103, 0.735);
    color: #fff;
    font-weight: 700;
    height: 50px;
    border-radius: 3px;
    display: inline-block;
    padding: 15px 20px;
    margin: 15px 0;
}

/* login page */

.login-container {
    min-height: 700px;
    height: calc(100vh - 66px);
}

/* signup page */

.signup-container {
    min-height: 700px;
    height: calc(100vh - 66px);
}

/*                 */

.icon-container {
    width: 50px;
}

.avatar img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.avatar-edit img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .logo a {
        font-size: 38px;
    }

    .search-input {
        width: 600px;
    }
}